{% extends 'base.html' %}
{% load static %}

{% block title %}All Posts · {{ blog.title }}{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/all-posts.css' %}" />
{% endblock %}

{% block content %}
<section id="all-posts">
  <h1>My Collected Posts</h1>

  {% with tags=all_tags %}{% include "blog/includes/tag-list.html" %}{% endwith %}

  {% if posts %}
  <ul>
    {% for post in posts %}
    {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
  {% include "blog/includes/pagination.html" %}
  {% else %}
  <p class="empty-state">No posts published yet.</p>
  {% endif %}
</section>
{% endblock %}
